@import "vars";
@import "mixins";

.vol-button {
  @include font-base(15px, 600, 20px, normal, $onest);

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: $red;
  color: $white;
  transition: all .2s ease-in;
  cursor: pointer;
}

.vol-button.transparent {
  @include font-base(12px, 400, 16.8px, normal, $onest);

  background-color: transparent;
  color: #526EFF;
}
