@import 'vars';

@mixin font-base(
  $size: 14px,
  $font-weight: 400,
  $height: 1.4,
  $font-style: normal,
  $font-family: $onest
) {
  font: $font-weight $font-style #{$size}/#{$height $font-family};
}

@mixin svg-stroke($color) {
  &::ng-deep svg {
    & path {
      stroke: $color;
    }
  }
}

@mixin svg-fill($color) {
  &::ng-deep svg {
    & path {
      fill: $color;
    }
  }
}

@mixin svg-fill-first-path($color) {
  &::ng-deep svg {
    & path:first-child {
      fill: $color;
    }
  }
}
