<div class="login">
  <div class="login__wrapper">
    <div class="login__logo">
      <img src="../../../../../assets/images/svg/logo.svg" alt="logo" />
    </div>
    <div class="login__btn">
      <button volButton (click)="navigateToLogin()">Sign In</button>
    </div>
  </div>

  <div class="login__form-wrapper">
    <h2 class="login__form-title">Sign in to access your account</h2>

    <form class="login__form" [formGroup]="formGroup">
      <div class="login__form-field">
        <div class="login__form-field-label">First Name</div>
        <input
          volInput
          formControlName="first_name"
          [errorMessage]="emailErrorMessage"
          class="login__form-field-input"
          type="text"
        />
      </div>
      <div class="login__form-field">
        <div class="login__form-field-label">Last Name</div>
        <input
          volInput
          formControlName="last_name"
          [errorMessage]="emailErrorMessage"
          class="login__form-field-input"
          type="text"
        />
      </div>
      <div class="login__form-field">
        <div class="login__form-field-label">Email Address</div>
        <input
          volInput
          formControlName="email"
          [errorMessage]="emailErrorMessage"
          class="login__form-field-input"
          type="text"
        />
      </div>

      <div class="login__form-field">
        <div class="login__form-field-label">Password</div>
        <input
          volInput
          formControlName="password"
          [errorMessage]="passwordErrorMessage"
          class="login__form-field-input password"
          type="password"
        />
      </div>
    </form>

    <div class="login__login-btn">
      <button volButton (click)="register()">Login</button>
    </div>

    <div class="login__change-page">
      <p>Already have an account?</p>
      <button volButton [color]="'transparent'" (click)="navigateToLogin()">
        Sign In
      </button>
    </div>
  </div>
</div>
